
/* Big box under the three existing boxes */
#big-box {
    width: 100%;
    margin-left: 15px;
    margin-top: 40px;
    padding: 30px; /* Increased padding */
    background-color: #fff;
    border-left: 2px solid #ddd; /* Left border */
    border-right: 2px solid #ddd; /* Right border */
    border-radius: 12px; /* Rounded corners */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 620px;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Improved box shadow */
}

/* Three columns within the big box */
.column {
    flex: 1;
    margin: 30px; /* Increased margin */
    margin-top: 0%;
    padding: 30px; /* Increased padding */
    padding-top: 0;;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Improved box shadow */;
    transition: transform 1.5s, box-shadow 1.5s;
}

.column h2{
    margin-top: 20px;
    margin-bottom: 17px;
    color: #09558B;
    text-align: center;
}


/* Title styles for the big box */
#big-box h2 {
    color: #09558B;
    text-align: center;
    margin-bottom: 20px;
}

/* Big box hover effect */
.column:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


/* Add this CSS for the hover effect */
.box.hover-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}

/* Add this CSS for the big box hover effect */
#big-box.hover-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}

#small-box.hover-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}


