# Only put project-specific paths in here.
# If you have OS-specific or editor-specific paths to ignore, such as '*.swp',
# '[Dd]esktop.ini', '.DS_Store', or '.vscode', put those in your global
# .gitignore file or in /path/to/repository/.git/info/exclude. Thanks!

# Ignore files that were used for dynamic port selection. Since commit 0239bbef,
# NetSpider uses a fixed port, but we'll keep the patterns around for some time
# to stop people from accidentally re-committing these files.
/client/open_ports.txt
/server/open_ports.txt

# Cached bytecode and DLLs
__pycache__/
*.py[cd]

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# General Python packaging
build/
build-*/
dist/

# PyInstaller
*.manifest
*.spec

# Node.js dependencies
node_modules/

# SeleniumBase
downloaded_files/

# Results folder
result/
results/

# Results folder index/cache
folders.json
