/* Resetting default styles and setting font */
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

* {
    scroll-behavior: smooth;
  }

#navbar {
    height: 100%;
    width: 230px;
    position: fixed;
    border: 1px solid #ddd;
    padding: 20px;
    min-height: 720px;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); /* Improved box shadow */
}

/* Header styles within the sidebar */
#navbar h1 {
    font: 24px "Plus Jakarta Sans", sans-serif;
    text-align: center;
    color: #09558B;
    height: 80px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 8%;
    position: relative;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;

}

#navbar h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    bottom: 0;
    left: 0;
}

/* Logo styles within the sidebar */
#navbar img {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

#navbar .fgcu-logo {
    position: absolute;
    display: block;
    bottom: 6%;
    width: 80%;
    overflow: hidden;
}

/* Styles for navigation links */
#navbar a {
    display: block;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    color: #09558B;
    background-color: #ffffff;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-top: 17px;
    border: none; /* Remove solid border */
    border-radius: 20px; /* Adjusted border-radius for curved edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Stronger and more defined shadow */
    transform-style: preserve-3d; /* Enable 3D transformations */
}


/* Active, focus, and hover styles for navigation links */
#navbar a.active,
#navbar a:focus,
#navbar a.focus:hover {
    background-color: #09558B;
    color: white;
    box-shadow: 0 8px 16px rgba(9, 85, 139, 0.9); /* Enhanced box shadow */
    transform: translateY(4px);
    border-image: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#navbar a:hover:not(.active):not(.focus) {
    background-color: #accaf34d;
    color: #09558B;
    border-color: white;
    border-radius: 20px; /* Added border radius */
}


#navbar #fgcu-logo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    bottom: 0;
    left: 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 20px;
}

.input-container, .button-container {
    display: flex;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}


/* Styles for the main content area */
#content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    min-width: 963px;
}
 
/* New wrapper with margin on the left */
#content-wrapper {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
}

/* Styles for individual boxes in the content area */
.box {
    width: calc(29.33% - 20px);
    margin: 0 auto;
    padding: 20px; /* Increased padding */
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    border-radius: 12px; /* Rounded corners */
    transition: box-shadow 0.3s, transform 0.3s;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Improved box shadow */
}

/* Heading styles within the boxes */
.box h2 {
    margin: 0 auto;
    text-align: center;
    color: #09558B;
}

/* Box hover effect */
.box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}


/* Styles for file input */
input[type="file"] {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px; /* Increased margin */
    text-align: center;
    padding: 15px; /* Increased padding */
    border: 2px solid #09558B; /* Thicker border */
    border-radius: 8px;
    border-style: dashed;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Hover effect for file input */
input[type="file"]:hover {
    background-color: #f9f9f9;
    border-color: #0852c9;
    transition: background-color 1.5s;
}

input[type="file"].file-selected {
    background:
   linear-gradient(#fff 0 0) padding-box,
   linear-gradient(to bottom, #09558B, green 49%, green) border-box; 
   border: 2px dashed #fff;
}



/* Big box under the three existing boxes */
#big-box {
    width: 100%;
    margin-left: 15px;
    margin-top: 40px;
    padding: 30px; /* Increased padding */
    background-color: #fff;
    border-left: 2px solid #ddd; /* Left border */
    border-right: 2px solid #ddd; /* Right border */
    border-radius: 12px; /* Rounded corners */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 620px;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Improved box shadow */
}

.medium-column {
    flex: 1;
    margin: 5px; /* Decreased margin */
    padding: 20px; /* Decreased padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Improved box shadow */
    transition: transform 1.5s, box-shadow 1.5s;
    max-width: calc(50% - 20px); /* Adjusted max-width */
    display: flex; /* Added */
    flex-direction: column; /* Added */
}

/* Three columns within the big box */
.column {
    flex: 1;
    margin: 30px; /* Increased margin */
    margin-top: 0%;
    padding: 30px; /* Increased padding */
    padding-top: 0;;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Improved box shadow */;
    transition: transform 1.5s, box-shadow 1.5s;
}

.column h2{
    margin-top: 20px;
    margin-bottom: 17px;
    color: #09558B;
    text-align: center;
}


/* Title styles for the big box */
#big-box h2 {
    color: #09558B;
    text-align: center;
    margin-bottom: 20px;
}

/* Big box hover effect */
.column:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.medium-column:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


/* Add this CSS for the hover effect */
.box.hover-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}

/* Add this CSS for the big box hover effect */
#big-box.hover-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}

#small-box.hover-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}


/* Medium box under the Big box w/ 3 sections */
#med-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    grid-gap: 20px; /* Gap between columns */
    width: 60%;
    margin-left: 15px;
    margin-top: 40px;
    padding: 30px; /* Increased padding */
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 12px; /* Rounded corners */
    display: flex; /* Added */
    flex-direction: row; /* Changed to row */
    justify-content: space-between; /* Adjusted justify-content */
    align-items: flex-start; /* Adjusted align-items */
    height: 5000;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1); /* Improved box shadow */
}

.setname-input{
    width: 100%;
    padding: 10px;
    border: 2px solid #09558B;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.deleteButton{
    width: 50%;
    margin-top: 10px;
    padding: 6px;
    border: 2px solid #09558B;
    border-radius: 8px;
    background-color: #09558B;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    font: 15px "Plus Jakarta Sans", sans-serif;

}

.deleteButton:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.column-edit-keywords {
    grid-column: 1 / span 2; /* Span both columns */
    position: relative; /* Ensure positioning context for absolute positioning */
    width: fit-content;
    height:  fit-content;
}

#header-keywords{
    margin: 0 auto;
    padding-top: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    width: 80%;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    grid-column: span 2;
    
}

.listbox-area2{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background:#09558be1;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}

.create-set-btn{
    width: 100%;
    margin-left: 8px;
    margin-top: 0px;
    height: fit-content;
    text-align: center;
    padding: 8PX;
    border: 2px solid #000000;
    border-radius: 4px; /* Rounded corners */
    background-color: #09558B;
    color: #fff;
    font: 15px "Plus Jakarta Sans", sans-serif;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    max-height: 40px;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s;

}

.create-set-btn:hover{
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* CSS for Select All button */
#select-all-btn {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    border: 2px solid #000000;
    border-radius: 4px; /* Rounded corners */
    background-color: #09558B;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* Hover effect for Select All button */
#select-all-btn:hover {
    color: #09558B;
    color: white;
    border-color: #09558B;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: #0a6fc1
}

#select-all-btn.clicked {
    background-color: #0a6fc1;
    color: white;
    border-color: #09558B;
}

/* CSS for Open Results Folder button */
#open-results-folder-btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px; /* Rounded corners */
    background-color: #09558B;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* Hover effect for Open Results Folder button */
#open-results-folder-btn:hover {
    background-color: #0a6fc1;
    color: white;
    border-color: #09558B;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#open-results-folder-btn:hover {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#med-box h2 {
    margin-top: 0; /* Removed top margin */
    margin-bottom: 20px; /* Adjusted bottom margin */
    color: #09558B;
    text-align: center;
}

#med-box-2 h2 {
    margin-top: 0; /* Removed top margin */
    margin-bottom: 20px; /* Adjusted bottom margin */
    color: #09558B;
    text-align: center;
}

/* Specifically for bottom warning in medium box*/
#med-box h3 {
    color: #09558B;
    text-align: center;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 12px; /* Rounded corners */
    background-color: #09558B;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* Text within the medium box */
#med-box p {
    margin-left: 5px;
    margin-right: 5px;
    color: #09558B;
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}

#med-box-2 p {
    margin-left: 5px;
    margin-right: 5px;
    color: #09558B;
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}




/* Add this CSS for radio buttons */
/* Updated CSS for radio buttons */
/* Updated CSS for radio buttons */
.column .radio-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    
}

.column input[type="radio"] {
    opacity: 0; /* Hide default radio button */
    position: absolute;
    cursor: pointer;
    text-align: center;
}

.column label {
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 8px;
    background-color: #09558B;
    color: #fff;
    border: 2px solid #000000;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-sizing: border-box;
    
}

.column label:hover {
    color: white;
    background-color: #0a6fc1;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.column input[type="radio"]:checked + label {
    background-color: #0a6fc1;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Styles for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    border: 2px solid #09558B;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    overflow-y: auto;
    max-height: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
}

.dropdown-item {
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: #09558B;
    width: 95%;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
    background-color: #09558B;
    color: white;
}

/* Styles for the buttons */
.listbox-area {
    /* Remove position:absolute and set flex property */
    display: flex;
    flex-direction: column;
    flex: 1; /* Grow and shrink equally to fill available space */
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background:#09558be1;
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Positioning context for absolute positioning */
}

[role="listbox"]#ss_elem_list {
    margin: 0 0 0;
    padding: 0;
    min-height: 18em;
    border: 1px solid #aaa;
    background: white;
    overflow-y: auto; /* Add vertical scrollbar when needed */
    display: flex;
    flex-direction: column;
    position: auto;
    max-height: 18em;
    overflow-y: auto;
    width: 100%; /* Ensure the listbox fills the entire width of the column */
    max-width: 100%; /* Ensure the listbox does not extend past the width of the column */
}

[role="listbox"] + *,
.listbox-label + * {
    margin-top: .2em;
}

[role="group"] {
    margin: 0;
    padding: 0;
}

[role="group"] > [role="presentation"] {
    display: block;
    margin: 0;
    padding: 0 0.5em;
    font-weight: bold;
    line-height: 1;
    background-color: #ccc;
}

[role="option"] {
    position: relative;
    display: block;
    margin: 2px 2px; /* Reduce the margin to 2px */
    border-radius: 10px;
    padding: 5px 10px;
    line-height: 1.8em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
}

[role="option"].selected {
    background-color:#09558B; /* Set background color for selected item */
}

.move-right-btn span.checkmark::after {
    content: " →";
}

.move-left-btn span.checkmark::before {
    content: "← ";
}

[role="option"]:not(.selected):hover {
    background-color: #accaf34d; /* Lighter shade for hover effect */
    color: #09558B; /* Change text color to the original color when hovering */
}

button[aria-haspopup="listbox"] {
    position: relative;
    padding: 5px 10px;
    width: 150px;
    border-radius: 0;
    text-align: left;
}

button[aria-haspopup="listbox"]::after {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: currentcolor;
    border-bottom: 0;
    content: "";
}

button[aria-haspopup="listbox"][aria-expanded="true"]::after {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom-color: currentcolor;
    content: "";
}

button[aria-haspopup="listbox"] + [role="listbox"] {
    position: absolute;
    margin: 0;
    width: 9.5em;
    max-height: 10em;
    border-top: 0;
    overflow-y: auto;
}

/* Override background color for deselected state of "Select All" button */
button#select-all-button[aria-expanded="true"]::after {
    border-top-color: #09558be1;
}

button#select-all-button[aria-expanded="false"]::after {
    border-bottom-color: #09558be1;
}

/* Additional CSS rules to handle deselected state of "Select All" button */
button#select-all-button:not([aria-expanded="true"])::after {
    border-top-color: transparent;
}

button#select-all-button[aria-expanded="true"]:not(:hover)::after {
    border-top-color: #09558be1;
}

button#select-all-button[aria-expanded="false"]:not(:hover)::after {
    border-bottom-color: #09558be1;
}

[role="toolbar"] {
    display: flex;
}

[role="toolbar"] > * {
    border: 1px solid #aaa;
    background: #ccc;
}

[role="toolbar"] > [aria-disabled="false"]:focus {
    background-color: #eee;
}

button {
    font-size: inherit;
}

button[aria-disabled="true"] {
    opacity: 0.5;
}

.annotate {
    color: #366ed4;
    font-style: italic;
}

.hidden {
    display: none;
}

.offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 14px;
    white-space: nowrap;
}

/* Added to match existing styles */
[role="option"] + [role="option"],
[role="listbox"]:not(#ss_elem_list) + [role="listbox"] {
    margin-top: 1em;
}

.blurred {
    filter: blur(5px); /* Adjust blur amount as needed */
    pointer-events: none; /* Disable pointer events to prevent interaction */
}

#scraperTextbox{
    width: 90%;
    max-height: 2%;
    padding: 15px;
    border: 2px solid #09558B;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* WILL EVENTUALLY NEED SEPERATE BOXES FOR BOTH EDITOR SECTIONS*/
#editorTextbox{
    width: 78%;
    max-height: 2%;
    padding: 15px;
    border: 2px solid #09558B;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

editorTextbox::placeholder {
    color: #808a7b;
    font-style: italic;
    
  }

.checkboxes{
    text-align: left ;
    margin-right: 2%;
    margin-bottom: 8%;
}

#startButton,
#stopButton {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    background-color: #09558B;
    color: #fff;
    margin: 10px;
    border: #080b0f 2px solid;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#startButton:hover,
#stopButton:hover {
    background-color: #0a6fc1;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


#additionalDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#additionalDiv .column-s {
    flex: 1;
    height: fit-content;
    justify-self: center;
    padding: 5%;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

}

#additionalDiv .column-s:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#additionalDiv .column-s h2 {
    margin: 0 auto; 
    text-align: center;
    justify-content: center;
    color: #09558B;
    height: fit-content;
}

#itemList{
    width: 100%;
    height: 320px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 24px;
    display: block;
    
}

#itemListSet{
    width: 100%;
    height: 320px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 24px;
    display: block;
}

#itemListKeywords{
    width: 100%;
    height: 320px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 24px;
    display: block;
}


select {
    height: 100px;
    width: 100px;
    display: block;
}
/* Example CSS rules */

option.selected {
    background-color: rgb(0, 0, 0); /* Change to the color you want */
}

@media (max-height: 900px) {
    #navbar .fgcu-logo {
        display: none;
    }
  }

#small-box{
    margin-left: 15px;
    max-width: 370px;
    margin-top: 40px;
    padding: 30px; /* Increased padding */
    background-color: #fff;
    border-left: 2px solid #ddd; /* Left border */
    border-right: 2px solid #ddd; /* Right border */
    border-radius: 12px; /* Rounded corners */
    position: relative; /* Ensure positioning context for absolute positioning */
    min-height: 500px;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1); /* Improved box shadow */
}

#small-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}

/* Add this CSS for the big box hover effect */
.small-box.hover-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
    transform: scale(1.05);
}
