.logo-hsi {
    background-size: contain;
    display: block; 
    max-width: 90%;
    margin: 20px auto;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    color: #09558B;
}

.fgcu-logo {
    background-size: contain;
    display: block;
    max-width: 90%;
    margin: 20px auto;
    position: absolute; /* Change position to absolute */
    bottom: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    min-width: 100%; /* Set a minimum width to prevent wrapping */
    flex-wrap: wrap; /* Allow boxes to wrap onto the next line if needed */
    margin-bottom: 20px; /* Adjust as needed to create space between the new divs and the nav bar */
}

.box {
    position: relative;
    height: 300px;
    flex: 1;
    margin: 0 10px;
    margin-top: 30px;
    padding: 20px;
    max-height: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #09558B;
    box-sizing: border-box; /* Include padding and border in the width */
}

/* Additional styling for the title inside each box */
.box h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    min-width: 100%; /* Set a minimum width to prevent wrapping */
    flex-wrap: wrap; /* Allow boxes to wrap onto the next line if needed */
    margin-bottom: 20px; /* Adjust as needed to create space between the new divs and the nav bar */
}

/* Style for the file input container */

    /* Style for the actual file input */
  
   .file-input {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    align-content:center;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 4%;
  }

  /* Style for the custom button */
  .custom-button {
    display: block;
    position: relative;
    padding: 10px 15px;
    background-color: #3498db; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Style for hover effect on the custom button */
  .custom-button:hover {
    background-color: #2980b9; /* Change the hover background color as needed */
  }

  /* Style for the selected file name display */
  .selected-file {
    margin-top: 10px;
    font-weight: bold;
  }

  .additional-title{
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 auto;
    text-align: center;
    color: #09558B;
    margin-top: 20px;
  }

  .file-input-box{
    display: block; position: relative; width: 100%;
    text-align: center;
  }

  .box-scrapper {
    position: relative;
    height: 300px;
    flex: 1;
    margin: 0 10px;
    margin-top: 30px;
    padding: 20px;
    max-height: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #09558B;
    box-sizing: border-box; /* Include padding and border in the width */
}
