altgraph
apscheduler
attrs
beautifulsoup4
behave
bidict
blinker
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cssselect
cycler
Deprecated
et-xmlfile
exceptiongroup
execnet
fasteners
filelock
Flask
Flask-Cors
Flask-SocketIO
fonttools
gevent
gevent-websocket
greenlet
h11
idna
img2pdf
iniconfig
itsdangerous
Jinja2
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
mycdp
numpy
openpyxl
outcome
packaging
pandas
parameterized
parse
parse-type
pdbp
pefile
pikepdf
Pillow
pip
platformdirs
pluggy
psycopg
psycopg-binary
py
pycparser
pygments
pyinstaller
pyinstaller-hooks-contrib
pynose
pyotp
pyparsing
PyPDF2
PyQt5
PyQt5-Qt5
PyQt5-sip
pyreadline3
PySocks
pytest
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
python-dateutil
python-engineio
python-socketio
pytz
pywin32-ctypes
pyyaml
requests
rich
sbvirtualdisplay
seaborn
selenium
seleniumbase
setuptools
schedule
simple-websocket
six
sniffio
sortedcontainers
soupsieve
tabcompleter
trio
trio-websocket
typing_extensions
tzdata
urllib3
watchdog
websocket-client
websockets
Werkzeug
wheel
wrapt
wsproto
zope.event
zope.interface

