altgraph
attrs
bidict
blinker
certifi
cffi
charset-normalizer
chromedriver-autoinstaller
click
colorama
contourpy
cycler
Deprecated
dnspython
et-xmlfile
eventlet
Flask
Flask-Cors
Flask-SocketIO
fonttools
gevent
gevent-websocket
greenlet
h11
idna
img2pdf
itsdangerous
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
openpyxl
outcome
packaging
pandas
pefile
pikepdf
Pillow
psutil
pycparser
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyPDF2
PyQt5
PyQt5-Qt5
PyQt5-sip
PySocks
python-dateutil
python-engineio
python-socketio
pytz
pywin32-ctypes
requests
seaborn
selenium
setuptools
simple-websocket
six
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
tzdata
undetected-chromedriver
urllib3
watchdog
websocket-client
websockets
Werkzeug
wrapt
wsproto
zope.event
zope.interface
